.form {
  margin-bottom: 20px;
}

.btn {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: darkmagenta;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.label {
  display: block;
  margin-bottom: 10px;
}

.label input {
  width: 100%;
  padding: 10px 0px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
